<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资小铃铛主页</title>
</head>
<body>
Hi,你好, 这是测试DB页面，所有A股数据表
    <table border="1">
        <thead>
        <td>id</td>
        <td>index_name</td>
        <td>index_code</td>
        <td>time</td>
        <td>closes</td>
        </thead>
	<tbody>
        {% for one in data %}
        <tr>
            <td>{{one.id}}</td>
            <td>{{one.index_name}}</td>
            <td>{{one.stock_code}}</td>
            <td>{{one.time}}</td>
            <td>{{one.closes}}</td>
        </tr>
        {% endfor %}
	</tbody>
    </table>
</body>
</html>
