<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资小铃铛主页</title>
</head>
<body>
<h1>Hi,你好, 这是测试DB页面，你给我的数据是：{{data}}
    <table>
        <th>
        <td>id</td>
        <td>index_name</td>
        <td>index_code</td>
        <td>time</td>
        <td>closes</td>
        </th>
        {% for one in data %}
        <tr>
            <td>{{one.id}}</td>
            <td>{{one.index_name}}</td>
            <td>{{one.stock_code}}</td>
            <td>{{one.time}}</td>
            <td>{{one.closes}}</td>
        </tr>
        {% endfor %}
    </table>

    for data in all_data:
    print (u"ID: %s" % data.id)
    print (u"indexName: %s" % data.index_name)
    print (u"stockName: %s" % data.stock_code)
    print (u"time: %s" % data.time)
    print "\n"
</h1>
</body>
</html>
